{% include "top.html" %}
{% include "user_mf_top.html" %}

<h1> User MF Broker </h1>

<br>
<a href="/umufub/refresh/"> Refresh Umufub </a>
<br>

<br>
Number of object: {{ object_list|length }}
<br>

Sum total : {{sum_total}}

<br>

<table id="GoLoDataTable" class="display" cellspacing="0">
    <thead>
    <tr>
        <th>
            AMC
        </th>
        <th>
            MF Name
        </th>
        <th>
            Segment
        </th>
        <th>
            Cap Type
        </th>
        <th>
            Rating
        </th>
        <th>
            Invested Value
        </th>
        <th>
            Market Value
        </th>
        <th>
            Recommendation
        </th>
    </tr>
    </thead>

    {% for umfb_row in object_list %}
    <tr>
        <td>
            {{ umfb_row.umfb_amc }}
        </td>
        <td>
            {{ umfb_row.umfb_name }}
        </td>
        <td>
            {{ umfb_row.umfb_category }}
        </td>
        <td>
            {{ umfb_row.umfb_subcat }}
        </td>
        <td>
            {{ umfb_row.umfb_rating }}
        </td>
        <td>
            {{ umfb_row.umfb_cost_value }}
        </td>
        <td>
            {{ umfb_row.umfb_nav_value }}
        </td>
        <td>
            {{ umfb_row.umfb_research_reco }}
        </td>

    </tr>
    {% empty %}
    <tr>No Mutual Funds yet.</tr>
    {% endfor %}
</table>

{% autoescape off %}
{{ plot_div_1 }}
<br/>
{{ plot_div_2 }}
{% endautoescape %}

{% include "bottom.html" %}