{% include "top.html" %}
{% include "user_mf_top.html" %}

<h1> User MF Broker - StyleBox </h1>

<br>
Number of object: {{ object_list|length }}
<br>
<br>

<table border="1">
    <tr>
        <th>
            AMC
        </th>
        <th>
            MF Name
        </th>
        <th>
            Flexi Cap
        </th>
        <th>
            Large Cap
        </th>
        <th>
            Large & Mid Cap
        </th>
        <th>
            Mid Cap
        </th>
        <th>
            Small Cap
        </th>
        <th>
            Multi Cap
        </th>
        <th>
            Others
        </th>
    </tr>


    {% for umfb_row in object_list %}
    <tr>

        <td>
            {{ umfb_row.umfb_amc }}
        </td>
        <td>
            {{ umfb_row.umfb_name }}
        </td>
        <td>
            {% if umfb_row.umfb_subcat == "Flexi Cap" %}
            {{ umfb_row.umfb_nav_value }}
            {% endif %}
        </td>
        <td>
            {% if umfb_row.umfb_subcat == "Large Cap Fund" %}
            {{ umfb_row.umfb_nav_value }}
            {% endif %}
        </td>
        <td>
            {% if umfb_row.umfb_subcat == "Large And Mid Cap Fund" %}
            {{ umfb_row.umfb_nav_value }}
            {% endif %}
        </td>
        <td>
            {% if umfb_row.umfb_subcat == "Mid Cap Fund" %}
            {{ umfb_row.umfb_nav_value }}
            {% endif %}
        </td>
        <td>
            {% if umfb_row.umfb_subcat == "Small Cap Fund" %}
            {{ umfb_row.umfb_nav_value }}
            {% endif %}
        </td>
        <td>
            {% if umfb_row.umfb_subcat == "Multi Cap Fund" %}
            {{ umfb_row.umfb_nav_value }}
            {% endif %}
        </td>
        <td>
            {% if umfb_row.umfb_subcat == "Value Fund" %}
            {{ umfb_row.umfb_nav_value }}
            {% endif %}

            {% if umfb_row.umfb_subcat == "Index Fund" %}
            {{ umfb_row.umfb_nav_value }}
            {% endif %}

        </td>

    </tr>
    {% empty %}
    <tr>No Mutual Funds yet.</tr>
    {% endfor %}
</table>


{% include "bottom.html" %}