{% include "top.html" %}
{% include "user_broker_top.html" %}

<h1> Broker Mutual Fund </h1>

<form action="/brokermf/upload/" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <select name="broker" id="broker">
  <option value="Isec">Icidirect</option>
  <option value="Zerodha">Zerodha</option>
</select>

    <label for="file1"> Upload a file</label>
    <input type="file" id="file1" name="file">
    <small>Only accepts CSV/XLS/XLSX files</small>
    <button type="submit">Upload</button>
</form>

<br>
Number of object: {{ object_list|length }}
<br>

Sum total : {{sum_total}}

<br>

<table>
    <tr>
        <td>
            Number of object: {{ object_list|length }}
        </td>
    </tr>

    {% for bmf_row in object_list %}
    <tr>
        <td>
            {{ bmf_row.bmf_amc }}
        </td>
        <td>
            {{ bmf_row.bmf_name }}
        </td>
        <td>
            {{ bmf_row.bmf_category }}
        </td>
        <td>
            {{ bmf_row.bmf_subcat }}
        </td>
        <td>
            {{ bmf_row.bmf_rating }}
        </td>
        <td>
            {{ bmf_row.bmf_units }}
        </td>
        <td>
            {{ bmf_row.bmf_acp }}
        </td>
        <td>
            {{ bmf_row.bmf_cost_value }}
        </td>
        <td>
            {{ bmf_row.bmf_nav_date }}
        </td>
        <td>
            {{ bmf_row.bmf_nav }}
        </td>
        <td>
            {{ bmf_row.bmf_nav_value }}
        </td>
        <td>
            {{ bmf_row.bmf_pnl_realized }}
        </td>
        <td>
            {{ bmf_row.bmf_pnl }}
        </td>
        <td>
            {{ bmf_row.bmf_pnl_pct }}
        </td>
        <td>
            {{ bmf_row.bmf_research_reco }}
        </td>

        <td>
            {{ mf_row.scheme_sum |floatformat:0 }}
        </td>

        <td>
            {% if sum_total %}
            {% widthratio mf_row.scheme_sum sum_total 100.0 %} %
            {% endif %}
        </td>

    </tr>
    {% empty %}
    <tr>No Mutual Funds yet.</tr>
    {% endfor %}
</table>

{% autoescape off %}
{{ plot_div_1 }}
<br/>
{{ plot_div_2 }}
{% endautoescape %}

{% include "bottom.html" %}