MF All : <a href="/gmutfun/list/"> List </a>
&nbsp; &nbsp; &nbsp;
Benchmarks Count: <a href="/gmutfun/benchmark/all/"> All </a> |
<a href="/gmutfun/benchmark/etf/"> ETF </a> |
<a href="/gmutfun/benchmark/fof/"> FOF </a> |
<a href="/gmutfun/benchmark/active/"> Active </a>
<br>
etf : <a href="/gmutfun/list/etf/gold/"> gold etf </a> |
<a href="/gmutfun/list/etf/nifty-50/"> nifty 50 etf </a> |
<a href="/gmutfun/list/etf/next-50/"> nifty next 50 etf </a> |
<a href="/gmutfun/list/etf/mid-150/"> nifty mid 150 etf </a> |
<a href="/gmutfun/list/etf/small-250/"> nifty small 250 etf </a> |
<a href="/gmutfun/list/etf/global/"> global etf </a> |
<a href="/gmutfun/list/etf/hybrid/"> hybrid etf </a> |
<a href="/gmutfun/list/etf/non-gold/"> non-gold etf </a> |
<a href="/gmutfun/list/passive-select/etf/"> MF Selector ETF </a> |
<a href="/gmutfun/list/passive-select/etf/capbox/"> MF Selector ETF CapBox </a> |
<br>
fof :
<a href="/gmutfun/list/fof/gold/"> gold fof </a> |
<a href="/gmutfun/list/fof/nifty-50/"> nifty 50 fof </a> |
<a href="/gmutfun/list/fof/next-50/"> nifty next 50 fof </a> |
<a href="/gmutfun/list/fof/mid-150/"> nifty mid 150 fof </a> |
<a href="/gmutfun/list/fof/small-250/"> nifty small 250 fof </a> |
<a href="/gmutfun/list/fof/global/"> global fof </a> |
<a href="/gmutfun/list/fof/hybrid/"> hybrid fof </a> |
<a href="/gmutfun/list/fof/non-gold/"> non-gold fof </a> |
<a href="/gmutfun/list/passive-select/fof/"> MF Selector FoF (Passive) </a> |
<a href="/gmutfun/list/passive-select/fof/capbox/"> MF Selector FoF - CapBox (Passive) </a> |
<br>
active:
<a href="/gmutfun/list/active/flexi/"> Flexi </a> |
<a href="/gmutfun/list/active/large/"> Large </a> |
<a href="/gmutfun/list/active/mid/"> Mid </a> |
<a href="/gmutfun/list/active/small/"> Small </a> |
<a href="/gmutfun/list/active/multi/"> Multi </a> |
<a href="/gmutfun/list/active/large-mid/"> Large & Mid </a> |
<a href="/gmutfun/list/active/value/"> Value </a> |
<a href="/gmutfun/list/active/dividend/"> Dividend </a> |
<a href="/gmutfun/list/active-select/3/4/"> MF Selector (Active) </a> |
<a href="/gmutfun/list/active-select/capbox/3/4/"> MF Selector - CapBox (Active) </a> |
<a href="/gmutfun/list/active-aum/4/"> MF Selector AUM (Active) </a> |
<a href="/gmutfun/list/active-aum/capbox/4/"> MF Selector AUM - CapBox (Active) </a> |
<br>
