{% include "top.html" %}
{% include "global_top.html" %}

<h1> Global Mutual Funds </h1>

{% include "gmutfun/gmutfun_top.html" %}

<br>
Number of object: {{ object_list|length }}
<br>

<br>

<table id="GoLoDataTable" class="display" cellspacing="0">
    <thead>
    <tr>
        <th>
            Scheme Name
        </th>
        <th>
            Type
        </th>
        <th>
            Subtype
        </th>
        <th>
            Benchmark
        </th>
        <th>
            1y
        </th>
        <th>
            3y
        </th>
        <th>
            5y
        </th>
        <th>
            10y
        </th>
        <th>
            AUM (Cr)
        </th>
        <th>
            Score (Grade)
        </th>
        <th>
            Score (Pct)
        </th>
        <th>
            Count
        </th>

    </tr>
    </thead>

    <tbody>
    {% for gmutfun_row in mf_flexi_list %}
    {% if forloop.counter <= mf_flexi_count %}
    <tr>
        <td>
            {{ gmutfun_row.gmutfun_scheme }}
        </td>
        <td>
            {{ gmutfun_row.gmutfun_type }}
        </td>
        <td>
            {{ gmutfun_row.gmutfun_subtype }}
        </td>
        <td>
            {{ gmutfun_row.gmutfun_benchmark }}
        </td>
        <td>
            {{ gmutfun_row.gmutfun_ret_1y_reg }}
        </td>
        <td>
            {{ gmutfun_row.gmutfun_ret_3y_reg }}
        </td>
        <td>
            {{ gmutfun_row.gmutfun_ret_5y_reg }}
        </td>
        <td>
            {{ gmutfun_row.gmutfun_ret_10y_reg }}
        </td>
        <td>
            {{ gmutfun_row.gmutfun_aum }}
        </td>
        <td>
            {{ gmutfun_row.gmutfun_score_grade }}
        </td>
        <td>
            {{ gmutfun_row.gmutfun_score_pct }}
        </td>
        <td>
            {{ gmutfun_row.scheme_count }}
        </td>
    </tr>
    {% endif %}
    {% empty %}
    <tr>No Mutual Funds yet.</tr>
    {% endfor %}

    {% for gmutfun_row in mf_large_list %}
    {% if forloop.counter <= mf_large_count %}
    <tr>
        <td>
            {{ gmutfun_row.gmutfun_scheme }}
        </td>
        <td>
            {{ gmutfun_row.gmutfun_type }}
        </td>
        <td>
            {{ gmutfun_row.gmutfun_subtype }}
        </td>
        <td>
            {{ gmutfun_row.gmutfun_benchmark }}
        </td>
        <td>
            {{ gmutfun_row.gmutfun_ret_1y_reg }}
        </td>
        <td>
            {{ gmutfun_row.gmutfun_ret_3y_reg }}
        </td>
        <td>
            {{ gmutfun_row.gmutfun_ret_5y_reg }}
        </td>
        <td>
            {{ gmutfun_row.gmutfun_ret_10y_reg }}
        </td>
        <td>
            {{ gmutfun_row.gmutfun_aum }}
        </td>
        <td>
            {{ gmutfun_row.gmutfun_score_grade }}
        </td>
        <td>
            {{ gmutfun_row.gmutfun_score_pct }}
        </td>
        <td>
            {{ gmutfun_row.scheme_count }}
        </td>
    </tr>
    {% endif %}
    {% empty %}
    <tr>No Mutual Funds yet.</tr>
    {% endfor %}


    {% for gmutfun_row in mf_mid_list %}
    {% if forloop.counter <= mf_mid_count %}
    <tr>
        <td>
            {{ gmutfun_row.gmutfun_scheme }}
        </td>
        <td>
            {{ gmutfun_row.gmutfun_type }}
        </td>
        <td>
            {{ gmutfun_row.gmutfun_subtype }}
        </td>
        <td>
            {{ gmutfun_row.gmutfun_benchmark }}
        </td>
        <td>
            {{ gmutfun_row.gmutfun_ret_1y_reg }}
        </td>
        <td>
            {{ gmutfun_row.gmutfun_ret_3y_reg }}
        </td>
        <td>
            {{ gmutfun_row.gmutfun_ret_5y_reg }}
        </td>
        <td>
            {{ gmutfun_row.gmutfun_ret_10y_reg }}
        </td>
        <td>
            {{ gmutfun_row.gmutfun_aum }}
        </td>
        <td>
            {{ gmutfun_row.gmutfun_score_grade }}
        </td>
        <td>
            {{ gmutfun_row.gmutfun_score_pct }}
        </td>
        <td>
            {{ gmutfun_row.scheme_count }}
        </td>
    </tr>
    {% endif %}
    {% empty %}
    <tr>No Mutual Funds yet.</tr>
    {% endfor %}

    {% for gmutfun_row in mf_small_list %}
    {% if forloop.counter <= mf_small_count %}
    <tr>
        <td>
            {{ gmutfun_row.gmutfun_scheme }}
        </td>
        <td>
            {{ gmutfun_row.gmutfun_type }}
        </td>
        <td>
            {{ gmutfun_row.gmutfun_subtype }}
        </td>
        <td>
            {{ gmutfun_row.gmutfun_benchmark }}
        </td>
        <td>
            {{ gmutfun_row.gmutfun_ret_1y_reg }}
        </td>
        <td>
            {{ gmutfun_row.gmutfun_ret_3y_reg }}
        </td>
        <td>
            {{ gmutfun_row.gmutfun_ret_5y_reg }}
        </td>
        <td>
            {{ gmutfun_row.gmutfun_ret_10y_reg }}
        </td>
        <td>
            {{ gmutfun_row.gmutfun_aum }}
        </td>
        <td>
            {{ gmutfun_row.gmutfun_score_grade }}
        </td>
        <td>
            {{ gmutfun_row.gmutfun_score_pct }}
        </td>
        <td>
            {{ gmutfun_row.scheme_count }}
        </td>
    </tr>
    {% endif %}
    {% empty %}
    <tr>No Mutual Funds yet.</tr>
    {% endfor %}


    </tbody>
</table>

{% include "bottom.html" %}