{% include "top.html" %}

<h2>About Us</h2>

Follow us on |

<br>
<br>

Facebook <a href="https://www.facebook.com/gotolong.in/"> <img src="/media/social-logo/social-fb.png">
    fb.com/gotolong.in</a> |
Tweeter <a href="https://www.twitter.com/gotolong.in/"> <img src="/media/social-logo/social-tw.png"> @gotolong_in</a> |
Instagram <a href="https://www.instagram.com/gotolong_in/"> <img src="/media/social-logo/social-ig.png">
    @gotolong_in</a> |
Linkedin <a href="https://www.linkedin.com/company/gotolong/"> <img src="/media/social-logo/social-in.png">
    linkedin.com/company/gotolong</a> |


<br>

{% include "bottom.html" %}