{% include "top.html" %}
{% include "user_mf_top.html" %}

<h1> Mutual Fund - StyleBox </h1>

<br>
Number of object: {{ object_list|length }}
<br>
<br>

<table border="1">
    <tr>
        <th>
            AMC
        </th>
        <th>
            MF Name
        </th>
        <th>
            Flexi Cap
        </th>
        <th>
            Large Cap
        </th>
        <th>
            Large & Mid Cap
        </th>
        <th>
            Mid Cap
        </th>
        <th>
            Small Cap
        </th>
        <th>
            Multi Cap
        </th>
        <th>
            Others
        </th>
    </tr>


    {% for umf_row in object_list %}
    <tr>

        <td>
            {{ umf_row.umf_amc }}
        </td>
        <td>
            {{ umf_row.umf_name }}
        </td>
        <td>
            {% if umf_row.umf_subcat == "Flexi Cap" %}
            {{ umf_row.umf_nav_value }}
            {% endif %}
        </td>
        <td>
            {% if umf_row.umf_subcat == "Large Cap Fund" %}
            {{ umf_row.umf_nav_value }}
            {% endif %}
        </td>
        <td>
            {% if umf_row.umf_subcat == "Large And Mid Cap Fund" %}
            {{ umf_row.umf_nav_value }}
            {% endif %}
        </td>
        <td>
            {% if umf_row.umf_subcat == "Mid Cap Fund" %}
            {{ umf_row.umf_nav_value }}
            {% endif %}
        </td>
        <td>
            {% if umf_row.umf_subcat == "Small Cap Fund" %}
            {{ umf_row.umf_nav_value }}
            {% endif %}
        </td>
        <td>
            {% if umf_row.umf_subcat == "Multi Cap Fund" %}
            {{ umf_row.umf_nav_value }}
            {% endif %}
        </td>
        <td>
            {% if umf_row.umf_subcat == "Value Fund" %}
            {{ umf_row.umf_nav_value }}
            {% endif %}

            {% if umf_row.umf_subcat == "Index Fund" %}
            {{ umf_row.umf_nav_value }}
            {% endif %}

        </td>

    </tr>
    {% empty %}
    <tr>No Mutual Funds yet.</tr>
    {% endfor %}
</table>


{% include "bottom.html" %}