{% include "top.html" %}
{% include "user_mf_top.html" %}

<h1> Mutual Fund </h1>

<br>
<a href="/umufu/refresh/"> Refresh Umufu </a>
<br>

<br>
Number of object: {{ object_list|length }}
<br>

Sum total : {{sum_total}}

<br>

<table>

    {% for umf_row in object_list %}
    <tr>
        <td>
            {{ umf_row.umf_amc }}
        </td>
        <td>
            {{ umf_row.umf_name }}
        </td>
        <td>
            {{ umf_row.umf_category }}
        </td>
        <td>
            {{ umf_row.umf_subcat }}
        </td>
        <td>
            {{ umf_row.umf_rating }}
        </td>
        <td>
            {{ umf_row.umf_cost_value }}
        </td>
        <td>
            {{ umf_row.umf_nav_value }}
        </td>
        <td>
            {{ umf_row.umf_research_reco }}
        </td>

        <td>
            {{ umf_row.scheme_sum |floatformat:0 }}
        </td>

        <td>
            {% if sum_total %}
            {% widthratio umf_row.scheme_sum sum_total 100.0 %} %
            {% endif %}
        </td>

    </tr>

    {% empty %}
    <tr>No Mutual Funds yet.</tr>
    {% endfor %}
</table>

{% autoescape off %}
{{ plot_div_1 }}
<br/>
{{ plot_div_2 }}
{% endautoescape %}

{% include "bottom.html" %}