{% include "top.html" %}
{% include "user_mf_top.html" %}

<h1> Mutual Fund </h1>

<br>
<a href="/umufu/refresh/"> Refresh Umufu </a>
<br>

<br>
Number of object: {{ object_list|length }}
<br>

Sum total : {{sum_total}}

<br>

<table id="GoLoDataTable" class="display" cellspacing="0">
    <thead>
    <tr>
        <th>
            AMC
        </th>
        <th>
            MF Name
        </th>
        <th>
            Segment
        </th>
        <th>
            Cap Type
        </th>
        <th>
            Rating
        </th>
        <th>
            Invested Value
        </th>
        <th>
            Market Value
        </th>
        <th>
            Recommendation
        </th>
    </tr>
    </thead>

    {% for umf_row in object_list %}
    <tr>
        <td>
            {{ umf_row.umf_amc }}
        </td>
        <td>
            {{ umf_row.umf_name }}
        </td>
        <td>
            {{ umf_row.umf_category }}
        </td>
        <td>
            {{ umf_row.umf_subcat }}
        </td>
        <td>
            {{ umf_row.umf_rating }}
        </td>
        <td>
            {{ umf_row.umf_cost_value }}
        </td>
        <td>
            {{ umf_row.umf_nav_value }}
        </td>
        <td>
            {{ umf_row.umf_research_reco }}
        </td>

    </tr>
    {% empty %}
    <tr>No Mutual Funds yet.</tr>
    {% endfor %}
</table>

{% autoescape off %}
{{ plot_div_1 }}
<br/>
{{ plot_div_2 }}
{% endautoescape %}

{% include "bottom.html" %}