apscheduler
breeze-connect
django
django-background-tasks
django_heroku
django-sslserver
dj-database-url
fuzzymatcher
fuzzywuzzy
gunicorn
kiteconnect
mysqlclient
mysql-connector
openpyxl
pandas
plotly
py5paisa
pycryptodome
pyexcel
pyexcel-xls
python-dateutil
requests
smartapi-python
tabula-py
xlrd
urllib3
websocket-client